body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 70px;
}
.top-banner{
    color: grey;
    margin-left: 6.5%;
    margin-top: 6%;
}
.flexible-container{
    display: flex;
}
.orange-color{
    color: orange;
}
.top-banner-intro{
    
}